* {
    font-family: Arial, Monaco, Helvetica, Verdana;
    font-weight: 175;
}

button {
    display:inline-block;
    border-radius: 12px;
    padding:0.2em 1.45em;
    margin:0.5em;
    border:0.15em solid #ffffff;
    box-sizing: border-box;
    font-weight:400;
    font-size:18px;
    color:#ffffff;
    background-color:#cccccc00;
    text-align:center;
    transition:0.3s;
    }

    button:hover{
        color: rgb(0, 0, 0);
        background-color:#ffffff;
        box-shadow: 0px 6px 15px #ffffffd0;
    }

#cl {
    color: white;
    background: rgb(51,29,253);
    background: linear-gradient(90deg, rgba(51,29,253,1) 0%, rgba(131,58,180,1) 100%);
}

a {
    color: white;
    text-decoration: none;
}

textarea {
    width: 200px;
    height: 50px;
}

#usernamebox {
    font-size: 180%;
    width: 250px;
    border-radius: 12px;
    padding: 6px;
    text-align:center;
}

#chatbox {
    font-size: 150%;
}
